{% extends 'base.html.twig' %}
{% import "_macros.twig" as macros %}

{% block body %}

<table>
    <thead>
        <th>Nom</th>
        <th>Label</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for role in roles %}
        <tr>
            <td>{{ role.name }}</td>
            <td>{{ role.label }}</td>
            <td>O X</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock body %}