<meta charset="UTF-8">
<p>Bonjour
	<b>{{ name }}</b>,</p>
<p>
	Vous avez été habilité à l'application Lumia. Vous pouvez vous y connecter avec les identifiants suivants:
</p>
<p>
	Adresse mail:
	<b>{{ email.to[0].address }}</b>
	<br>
	Mot de passe:
	<b>{{ password }}</b>
</p>
<p>
	Lors de votre première connexion, il vous sera demandé de changer votre mot de passe pour des raisons de sécurité.
</p>